

* {
    box-sizing: border-box;
}

body {
    width: 1000px;
    margin: auto;
}

#textarea {
    padding: 25px;
    width: 950px;
    height: 300px;
    margin-top: 100px;
    font-size: 18px;
    border: 3px solid rgb(92, 78, 78);
    border-radius: 16px;
    background-color: rgb(243, 243, 235);
}

#keyboard {
    border: 2px solid rgb(92, 78, 78);
    margin: 100px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(221, 221, 187);
    padding: 15px;
}

.key {
    margin: 2px;
    border: 2px solid rgb(92, 78, 78);
    border-radius: 10%;
    width: 60px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-size: 26px;
    background-color: rgb(253, 253, 249);
}

.active {
    border: 5px solid rgb(92, 78, 78);
    text-align: center;
    background-color: rgb(216, 216, 200);
    font-size: 28px;
    color: brown;
}

.tab {
    width: 79px;
}

.delete,
.capsLock {
    width: 105px;
}

.enter {
    width: 143px;
}

.shiftLeft,
.shiftRight {
    width: 124px;
}

.controlLeft,
.controlRight,
.altLeft,
.altRight {
    width: 114px;
}

.space {
    width: 291px;
}

.manual {
    font-size: 36px;
}
